<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Road Nivaaran</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    
    <img src="{{ url_for('static', filename='images/Road_Nivaran_Logo-removebg-preview (1).png') }}" alt="Road Nivaran Logo">

    <form method="post" action="/predict" enctype="multipart/form-data">
        <label for="image">Upload Image:</label>
        <input class="upload-container" type="file" name="image" accept=".jpg, .jpeg, .png" required>
        <button class="upload-button" type="submit">Predict</button>
    </form>

    {% if prediction %}
    <h2>Prediction Result:</h2>
    <p>{{ prediction }}</p>
    {% endif %}

    {% if pdf_content%}
    <p id="location"></p>
    <a href="#" download="report.pdf" data-pdf-content="{{ pdf_content }}">download 
    </a>
    {% endif %}

    <script>
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition, showError);
            } else {
                document.getElementById("location").innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function showPosition(position) {
            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;
            document.getElementById("location").innerHTML = "Latitude: " + latitude + "<br>Longitude: " + longitude;
        }

        function showError(error) {
            switch (error.code) {
                case error.PERMISSION_DENIED:
                    document.getElementById("location").innerHTML = "User denied the request for Geolocation.";
                    break;
                case error.POSITION_UNAVAILABLE:
                    document.getElementById("location").innerHTML = "Location information is unavailable.";
                    break;
                case error.TIMEOUT:
                    document.getElementById("location").innerHTML = "The request to get user location timed out.";
                    break;
                case error.UNKNOWN_ERROR:
                    document.getElementById("location").innerHTML = "An unknown error occurred.";
                    break;
            }
        }

        // Call the function to get user's location when the page loads
        getLocation();


       // Use JavaScript to set the href attribute of the anchor tag dynamically
const pdfContent = document.querySelector('[data-pdf-content]').dataset.pdfContent;
const pdfLink = document.querySelector('a[download="report.pdf"]');
pdfLink.href = `data:application/pdf;base64,${pdfContent}`; 
    </script>

</body>

</html>
